.form{
    margin-top: 2em;
    margin-left: 15em;
    margin-right: 15em;
}
.input{
    margin-top: 1em;
}
.shortify{
    margin-left: 15em;
}

.message{
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;
}

.error{
    color: red;
}

.spinners{
    display: flex;
    justify-content: center;
}